COMPOSE_PROJECT_NAME=cryomap

APP_PORT=8080

POSTGRES_DB=cryomap
POSTGRES_USER=cryomap_user
POSTGRES_PASSWORD=troque_esta_senha
POSTGRES_PORT=5432

DATABASE_URL="postgresql://cryomap_user:troque_esta_senha@postgres:5432/cryomap?schema=public"

NODE_ENV=production
PORT=3000

JWT_SECRET="troque_por_uma_chave_forte"
JWT_EXPIRES_IN_SECONDS=86400
CORS_ORIGIN="http://localhost:8080"

GOVEE_API_KEY="111a0b2e-e470-4229-bb32-7da7245c89e7"
GOVEE_API_BASE_URL="https://openapi.api.govee.com"
GOVEE_TEMPERATURE_UNIT="fahrenheit"